@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --footer-height: 56px;
    --header-height: 75px;
    font-size: 14pt;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    font-weight: normal;
}

body {
    padding-top: var(--header-height);
    background-color: #f3f3f3; /* gray 50 */
}

.prevent-scroll {
    overflow: hidden;
}
